footer {
  margin: 30px;
  padding-top: 15px;
  position: absolute;
  bottom: 0px;
  border-top: solid 1px #ccc; }

h2 {
  text-align: center;
  padding-bottom: 50px; }

#upload-progress {
  opacity: 0; }

h1#beta {
  position: relative;
  left: 70px;
  top: -75px; }

.navbar-default {
  color: #BCC2CB;
  background: #444d58; }

.navbar-nav > .active > a {
  background: #3b434c;
  color: #a2abb7; }

.navbar-default .navbar-nav > li > a {
  color: #BCC2CB; }

.navbar {
  border-radius: 0px;
  border: 0px; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background: #55616f !important; }

.navbar-default .navbar-nav > .active > a {
  color: #f1f1f1;
  background: #4E5966; }
  .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #f1f1f1;
    background: #4E5966; }

.page-header .page-header-top .top-menu {
  margin: 0;
  padding: 0;
  float: none;
  position: absolute;
  top: 17px;
  right: 5px; }
  @media (max-width: 768px) {
    .page-header .page-header-top .top-menu {
      top: 20; } }

/*# sourceMappingURL=app.css.map */
